################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nats/.vs/Nats
/Nats/src/Vlc.Abp.EventBus.Nats/bin/Debug/netstandard2.0
/Nats/src/Vlc.Abp.EventBus.Nats/obj
/Nats/src/Vlc.Abp.Nats/bin/Debug/netstandard2.0
/Nats/src/Vlc.Abp.Nats/obj
/Nats/src/Vlc.Abp.Nats.Client/obj
/Nats/src/Vlc.Abp.Nats.Hubs/obj
/Nats/src/Vls.Abp.EventBus.Nats/bin/Debug/netstandard2.0
/Nats/src/Vls.Abp.EventBus.Nats/obj
/Nats/src/Vls.Abp.Nats/bin/Debug/netstandard2.0
/Nats/src/Vls.Abp.Nats/obj
/Nats/src/Vls.Abp.Nats.Client/bin/Debug
/Nats/src/Vls.Abp.Nats.Client/obj
/Nats/src/Vls.Abp.Nats.Hubs/bin/Debug/netstandard2.0
/Nats/src/Vls.Abp.Nats.Hubs/obj
/Event Streaming Bus/.vs/Event Streaming Bus/v16
/Event Streaming Bus/Vls.Abp.EventStreamingBus/obj
/Stan/.vs/Stan
/Stan/Vls.Abp.Stan/obj
/Nats/src/Vls.Abp.EventBus.Nats/bin/Debug/netstandard2.1
/Nats/src/Vls.Abp.Nats/bin/Debug/netstandard2.1
/Nats/src/Vls.Abp.Nats.Hubs/bin/Debug/netstandard2.1
/Nats/test/Vls.Abp.Nats.Tests/obj
/Nats/Vls.Abp.Nats.TestApp/bin/Debug/netcoreapp3.1
/Nats/Vls.Abp.Nats.TestApp/obj
/Nats/Vls.Abp.Nats.TestApplication/bin/Debug/netstandard2.0
/Nats/Vls.Abp.Nats.TestApplication/obj
